.gsd-keyboard.settings-ported
Arena_x86_64_linux/
BraveSoftware/
Code - OSS/
GIMP/
Google/
JetBrains/
MangoHud/
QtProject.conf
QtProject/
Raspberry Pi/
SiYuan-Electron/
Softdeluxe/
Thunar/
Trolltech.conf
Ultralytics/
assets
autostart/
balenaEtcher/
baloofileinformationrc
baloofilerc
bluedevilglobalrc
bspwm/
btop/
cinnamon/
dconf/
discord/
drkonqirc
dunst/
easyeffects/
eog/
evolution/
eww/
filetypesrc
fish/
font-manager/
fontconfig/
foot/
gcolor3/
gedit/
ghb/
git/
go/
google-chrome/
goverlay/
gtk-2.0/
gtk-3.0/
gtk-4.0/
hyprland.conf
hyprpanel/
ibus/
inkscape/
kactivitymanagerdrc
kazam/
kconf_updaterc
kdeconnect/
kded5rc
kdedefaults/
kdeglobals
kdenliverc
kernel.org/
kglobalshortcutsrc
kiorc
ktimezonedrc
kwinoutputconfig.json
kwinrc
libaccounts-glib/
libreoffice/
librewolf/
mako/
menus/
mimeapps.list
monitors.xml
mozilla/
nemo/
net.imput.helium/
newconfig.lua
obs-studio/
obsidian/
oomox/
opencode/
pavucontrol.ini
picom/
plasma-localerc
plasma-welcomerc
polybar/
pulse/
qtile/
session/
simple-update-notifier/
siyuan/
sxhkd/
systemd/
systemmonitorrc
tatus
teams-for-linux/
thorium/
tigervnc/
tixati/
trashrc
tttui/
uad/
user-dirs.dirs
user-dirs.locale
vkBasalt/
vlc/
xfce4/
xsettingsd/
zathura/
zellij/
nwg-look/
NuGet/
lxterminal/
remmina/
zen/
